*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
   
}
/*generals*/
header {
   
    background-color: aquamarine;
    padding: 10px 0px;
    
}
footer{
    background-color: rgb(50, 50,50);
}
.top-footer{
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
}

/*layout classes*/
.container-1{
    max-width:  1200px;
    display: flex;
    margin: 0  auto;
    background-color:aquamarine ;
    padding: 10px 0px;
    justify-content: space-between;
    gap: 20px;
   
}
.container-2{
    max-width: 900px;
    margin: 0 auto;
}
.col-15{
    width: 15%;
    height: 500px;

}

.col-20{
    width: 20%;
   
    
    
}
.col-40{
    width: 40%;
    height: 500px;
    
}
.col-60{
    width: 60%;
    
 }
 .col-100{
    width:100%;
    height: 500px;
   
   
 }


/*utility classes*/
.bg-orange{
 background-color: orange;
}
.border-black{
    border: 1px  solid black;
}
.p-20{
    padding: 20px ;
}
.py-20{
    padding: 20px auto;
}
.my-20{
    margin: 20px auto;
}
.bg-blue{
    background-color: blue;
}
.bg-pink{
    background-color: pink;
}
.bg-grey{
    background-color: grey;
}
.bg-green{
    background-color: green;
}
header-ul{
   display: flex;
   justify-content: center;

}
ul{
    list-style-type: none;
}
header ul li{
    margin: 0 15px;
}
.text.rigth{
    text-align:rigth;
}

/*main*/

