*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
   
}
/*generals*/
.header {
    background-color: aquamarine;
    padding: 10px 0px;
    
}

/*layout classes*/
.container-1{
    max-width:  1200px;
    background-color:aquamarine ;
    padding: 10px;
    justify-content: space-between;
    gap: 10px;
    display: flex;
    margin: 0 auto;
}
.col-20{
    width: 20%;
    height: 75px;
}
 .col-60{
    width: 60%;
    height: 75px;
 }


/*utility classes*/
.bg-orange{
 background-color: orange;
}
.border-black{
    border: 1px  solid black;
}
.p2-20{
    padding: 20px ;

}
.p2-20{
    padding: 20px 0;
}
.bg-blue- {
    background-color: blue;

}
.box pink-inside{
    background-color: pink;
}
.header-ul{
    display: flex;
    justify-content: center;

}

/*main*/

.bg-blue{
    background-color: blue;
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.box-pink-inside{
     whidth: 50% ;
     height: 80px;
     background-color: pink;
}
.box{
   
    height: 250px;
    margin: 5px;
}

/*lines whit two blocks */
.bg-blue-pink,
 bg-pink-cyan,
 bg-cyan-pink{
    display: flex;
    justify-content: center;
}

.bg-cyan-pink{
    background-color: cyan;
    width: 45%;
}
.bg-pink-cyan  {
    background-color: pink;
    whidth: 45%;
}
  