*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
   
}
/*generals*/
header {
   
    background-color: aquamarine;
    padding: 10px 0px;
    
}

/*layout classes*/
.container-1{
    max-width:  1200px;
    display: flex;
    margin: 0  auto;
    background-color:aquamarine ;
    padding: 10px 0px;
    justify-content: space-between;
    gap: 10px;
   
}
.container-2{
    max-width: 900px;
    margin: 0 auto;
}
.col-20{
    width: 20%;
    
}
.col-60{
    width: 60%;
    
 }
 .col-100{
    width:100%;
    height: 500px;
 }


/*utility classes*/
.bg-orange{
 background-color: orange;
}
.border-black{
    border: 1px  solid black;
}
.p2-20{
    padding: 20px ;
}
.py-20{
    padding: 20px 0px;
}


.bg-blue- {
    background-color: blue;
}
.bg-pink{
    background-color: pink;
}
header-ul{
   display: flex;
   justify-content: center;

}
ul{
    list-style-type: none;
}
header ul li{
    margin: 0 15px;
}
.text.rigth{
    text-align:rigth;
}

/*main*/

